*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(26, 34, 32);
}
.reloj{
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../IMG/reloj.png");
    background-size: cover;
    border: 1rem solid rgb(126, 26, 126);
    border-radius: 50vh;
    box-shadow: inset 0px 0px 20px 15px rgb(63, 13, 63);
}
.reloj::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(126, 26, 126);
    border-radius: 50vh;
    z-index: 10000;
}
.horas{
    width: 150px;
    height: 150px;
}
.minutos{
    width: 190px;
    height: 190px;
}
.segundos{
    width: 250px;
    height: 250px;
}
.horas::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 90px;
    background-color: rgb(126, 66, 126);
    z-index: 10;
    border-radius: 50vh;
}
.minutos::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 110px;
    background-color: rgb(126, 46, 126);
    z-index: 11;
    border-radius: 50vh;
}
.segundos::before{
    content: '';
    position: absolute;
    width: 1.8px;
    height: 150px;
    background-color: rgb(126, 26, 63);
    z-index: 12;
    border-radius: 50vh;
}
.horas,.minutos,.segundos{
    display: flex;
    justify-content: center;
    position: absolute;
    border-bottom: 50vh;
}
.Reloj{
    width: 220px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 2rem;
    color: rgb(182, 58, 219);
    margin-top: 7rem;
    box-shadow: inset 0px 0px 20px 1px rgb(126, 26, 126);
    border-radius: 1rem;
}